.first {
 flex: 0 1 auto;
}

second {
 flex: 0 1 auto;
}

.item {
 background-color : #BFDAF9;
 margin: 1px;
}

.container {
 border: solid 3px #BFDAF9
 display : flex;
 width : 300px;
}

/* 
les blocs first et second seront sur la même longueur de plus le container feras apparaître des bordures de 3 pixel avec une couleur sur une longueur de 300 pixels et gère le flex item lui se charge du remplissage par sont margin de 1 pixel.
*/